@media(min-width: 768px) {
    form {
        margin: 0 auto;
        width: 70%;
    }
}

@media(min-width: 1024px) {
    body {
        display: grid;
        place-items: center;
        height: 100vh;
    }

    form {
        margin: 0 auto;
        width: 30%;
    }
}